<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
<div class="container">
        <h3 id="form-title">Welcome to Expense Reimbursement System</h3>
    <div class="row">
        <div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="Login">
                    <form role="form" class="form-horizontal" id="login-form">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">
                                Username</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="username" placeholder="Username" name="username" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="col-sm-2 control-label">
                                Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    Submit</button>
                            </div>
                            <div>
                                <style>
                                   body{background-image: url("https://resources.nurse.com/image/2429209.1499387084000/ThinkstockPhotos-648659120.jpg");}
                                   #submit-btn{background-size: cover;}
                                </style>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="../Scripts/Login.js"></script>
</body>
</html>
