@charset "ISO-8859-1";

#edit-profile-form-status{
    color: forestgreen;
    visibility: hidden;
}

#amount-text {
    font-size: 1.5em;
    font-weight: bold;
}


/*
.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
*/