<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Manager Home Page</title>
</head>
<body>

	<!-- NAVBAR ELEMENTS -->
     <nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">WebSiteName</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="#">Home</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    
		    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
		    	<span class="glyphicon glyphicon-user"></span><span id="profile-name"></span><span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#" data-toggle="modal" data-target="#view-profile">View Profile</a></li>
	            <li><a href="#" id="logout-btn">Logout</a></li>
		      </ul>
		    </li>
		    
	    </ul>
	  </div>
	</nav> 
	

	<!-- Modal (for viewing profile) -->


	<div class="modal fade" id="view-profile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">

			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalCenterTitle">Your Profile</h5>
			</div>

			<div class="modal-body" id="profile-body">
				<div class="row">
				  <div class="col-md-3">
					<p></p>
					<p class="text-center"><i>[IMGHERE]</i></p>
				  </div>
		
				  <div class="col-md-9">
					<p>Do you need more time to make a purchase decision?</p>
					<p>No pressure, your product will be waiting for you in the cart.</p>
				  </div>
				</div>
			</div>	

			<div class="modal-footer">
			<button type="button" class="btn btn-secondary">Edit Profile</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>

		</div>
		</div>
	</div>


	<!-- REIMBURSEMENT LIST ELEMENTS-->
    <h1>MANAGER HOMEPAGE</h1>
    
    
    <script type="text/javascript" src="static/Views/HomeManager.js"></script>
</body>
</html>