@charset "ISO-8859-1";

#edit-profile-form-status{
    color: forestgreen;
    visibility: hidden;
}

#amount-text {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-tabs > li > a {
    font-size: 16px;
    color: black;
}

.nav-tabs > li.active > a {
    font-size: 20px;
    font-weight: bold;
    /* color: #0080ff; */
  }

#page-title {
    font-weight: bold;
    font-size: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#left {
    margin-left: 10%;
    float: left;
}
  
#right {
    margin-left: 40%;
}