<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Employee Menu</title>

    <link rel="tab icon" href="../moneybag.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>

    <!-- Submit Request Modal -->
    <div class="modal fade" id="submit-req-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Submit Reimbursement Request</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>

            <div class="modal-body">
                <form method="post" action="/ExpenseReimbursement/submit-request" id="submit-request">
                    <input type="string" class="form-control" name="email" placeholder="email"/>
                    <br>
                    <input type="number" class="form-control" name="amount" placeholder="amount"/>
                    <br>
                    <textarea name="reason" class="form-control" rows="3" name="reason" placeholder="reason"></textarea>
                </form>
            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" id="submit-r2" class="btn btn-primary" form="submit-request">submit</button>
            </div>
        </div>
        </div>
    </div>

    <!-- View Pending Requests Modal -->
    <div class="modal fade" id="view-pending-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Pending Reimbursement Requests</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>

            <div class="modal-body">
                <div>
                    <table class="table">
                        <tr class="thead-light">
                            <th scope="col">Request ID</th>
                            <th scope="col">Employee</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Reason</th>
                            <th scope="col">Status</th>
                        </tr>
                        <tr>
                            <th scope="col">2</th>
                            <th scope="col">employee</th>
                            <th scope="col">500</th>
                            <th scope="col">business purchase</th>
                            <th scope="col">1 - pending</th>
                        </tr>
                        <tr>
                            <th scope="col">4</th>
                            <th scope="col">employee</th>
                            <th scope="col">250</th>
                            <th scope="col">another reason</th>
                            <th scope="col">1 - pending</th>
                        </tr>
                    </table>
                    </table>
                </div>

                <div>

                </div>
            </div>
            
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="submit-r2" class="btn btn-primary">submit</button>
            </div>
        </div>
        </div>
    </div>

    <!-- View Profile Modal -->
    <div class="modal fade" id="view-profile-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>

            <div class="modal-body">
                
                <form method="post" action="/ExpenseReimbursement/update" id="update-profile">
                    <label for="email">Email:</label>
                    <input class="form-control" id="email" type="text" name="email" placeholder="email">
                    <br>
                    <label for="pass">Password:</label>
                    <input class="form-control" id="pass" type="password" name="pass" placeholder="password">
                    <br>
                    <label for="fname">First Name:</label>
                    <input class="form-control" id="fname" type="text" name="firstname" placeholder="firstname">
                    <br>
                    <label for="lname">Last Name:</label>
                    <input class="form-control" id="lname" type="text" name="lastname" placeholder="lastname">
                    <!-- <button class="btn btn-success" type="submit" id="submit-profile">update</button> -->
                </form>

            </div>
            
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" id="submit-profile" class="btn btn-primary" form="update-profile">update</button>
            </div>
        </div>
        </div>
    </div>

    <div class="login-page" id="employee-menu">
        <div class="form">
          <h3>Employee Main Menu</h3>
          <form class="login-form">
            <button type="button" id="submit-r" data-toggle="modal" data-target="#submit-req-modal">submit reimbursement request</button>

            <button type="button" id="view-r" data-toggle="modal" data-target="#view-pending-modal">view reimbursement requests</button>
            <button type="button" id="view-profile" data-toggle="modal" data-target="#view-profile-modal">view profile</button>
                
            <button type="button" id="logout1">logout</button>
          </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../scripts/employee.js"></script>
</body>
</html>