<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- credentials to connect to our db -->
		<property name="hibernate.connection.url">jdbc:postgresql://java-2002.cfhvkame7ojc.us-east-2.rds.amazonaws.com:5432/postgres</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">password</property>

		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- Change to validate (as opposed to create) so that tables aren't dropped 
			each time you get a session. -->
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<!-- validate, update, create, create-drop -->
		<property name="hibernate.show_sql">true</property>

		<!-- mapping tags can reference resources (hbm files) or classes (with 
			annotations) -->
		<mapping class="com.revature.models.Bear" />
		<mapping class="com.revature.models.Cave" />
		<mapping class="com.revature.models.Beehive" />
	</session-factory>
</hibernate-configuration>