<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<script type="text/javascript">
		/*
		* Check if token exists
		* If it does, query for the information to dynamically load the page
		* If it doesn't, reroute to Login.html
		*
		*
		*  Upon Sign out, delete the session storage
		*/
	</script>
</head>
<body>


	<script type="text/javascript" src="../Scripts/homepage.js"></script>
	<script type="text/javascript" src="../Scripts/logout.js" ></script>
</body>
</html>