@charset "ISO-8859-1";

.hidden-row {
	padding: 1.5rem;
}

.grid-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
}

.content {
	background-color: #fff;
	padding: 2em;
	border-radius: 5px;
	box-shadow: 0 0 5px #aaa;
	margin: 1em;
	margin-top: 2em;
}

.filters-section {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 1em;
}

.navbar-collapse {
	flex-direction: row-reverse;
}

.req-header {
	display: flex;
	justify-content: space-between;
}

.active-req, .active-req:hover {
	background-color: #aaa !important;
}

.content div.collapse, .content div.collapse:hover {
	background-color: #fff !important;
}

.review-section {
	display: inline;
	float: inline-end;
}

#name-filter {
	display: inline;
	width: auto;
}

.fa {
	cursor: pointer;
}