<h4>Attribute Directives</h4>


<label>Color Select:</label>
<select class='form-control' [(ngModel)]='selectedColor' >
    <option *ngFor='let color of colors'[value]='color' >{{color}}</option>
</select>
<br>
<label>Format Select:</label>
<select class='form-control' multiple (change)='updateSelectedFormats($event)'>
    <option *ngFor='let format of formats' [value]='format'>{{format}}</option>
</select>

<br>
<p [ngStyle]='{color: selectedColor}' [ngClass]='selectedFormats' >Some colored text</p>