body {
    background-image: url("https://westernrifleshooters.files.wordpress.com/2017/08/squares-chessboard-1461655712isf.jpg")
}

#content-div {
    color: yellow;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

form {
    margin: 20px;
    background-color: rgb(255,235,205,.7);
    padding: 20px;
    border-radius: 20px;
}

#form-title {
    text-align: center;
}

.formatted-par{
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    font-weight: 700;
}