/*------------------------------------------------------CONTAINERS------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Libre Baskerville';
	background-color: #fcfbfa;
}

.page {
	display: flex;
	flex-wrap: wrap;
}

/*------------------------------------------------------MEDIA QUERIES------------------------------------------------------*/

/*Mobile styles*/
@media only screen and (max-width:400px) {
	/* ########## MOBILE NAV ##########*/
	div#nav {
		font-size: 34px;
		padding: 20px;
	}
	
	div#nav div.left{
		margin-right: 10px;
		width: 70%;
	}
	
	div#nav div.left label{
		display: none;
	}
	
	div#nav div.left:after{
		content: "NAVI";
	}
	
	div#nav div.right{
		font-size: 22px;
		width: 30%;
		text-align: right;
	}
	
	div#nav div.fancy-button{
		text-align: center;
		margin-left: -40px;
	}
	
	div#nav div.small{
		width: 110px;
		height: 40px;
	}
	
	div#nav div.right label{
		display: none;
	}
	
	/* ########## MOBILE PROFILE ##########*/
	
	div#profile{
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	
	div#profile .content{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
	}
	
	div#profile img{
		width: 150px;
		height: auto;
		margin: 35px 0 25px 0;
	}
	
	div#profile div.fancy-button{
		font-size: 13px;
	}
	
	div#profile div.small{
		width: 100%;
		height: 30px;
	}
	
	div#profile div.item.bday,
	div#profile div.item.role,
	div#profile div.item.email,
	div#profile div.item.edit{
		display: flex;
		flex-direction: column;
		height: 45px;
	}
	
	div#profile div.item.email,
	div#profile div.item.edit,
	div#profile div.item.bio{
		width: 100%;
	}
	
	div#profile div.item.edit{
		order: 4;
		margin-top: 35px;
		text-align: center;
	}
	
	div#profile h3{
		font-size: 20px;
	}
	
	div#profile h4{
		font-size: 18px;
	}
	
	div#profile .item{
		margin: 5px 0;
	}
	
	/* ########## MOBILE REIMBURSEMENTS ##########*/
	
	div.employee, div.reimbursement{
		padding: 25px;
		margin: 0 50px;
		margin-bottom: 65px;
		min-width: 275px;
		max-width: 275px;
		font-size: 18px;
	}
	
	/* ########## MOBILE SEPARATOR ##########*/
	
	div#menu .button{
		margin: 5px 0;
	}
}

/*Tablet styles*/
@media only screen and (min-width:401px) and (max-width:960px) {
	/* ########## TABLET NAV ##########*/
	div#nav {
		font-size: 30px;
		padding: 25px;
	}
	
	div#nav div.left{
		margin-right: 10px;
		width: 70%;
	}
	
	div#nav div.right{
		font-size: 22px;
		width: 30%;
		text-align: right;
	}
	
	div#nav div.fancy-button{
		margin-left: 10px;
		text-align: center;
	}
	
	div#nav div.small{
		width: 110px;
		height: 40px;
	}
	
	div#nav div.right label{
		display: none;
	}
	
	/* ########## TABLET PROFILE ##########*/
	
	div#profile{
		width: 90%;
	}
	
	div#profile img{
		width: 215px;
		height: auto;
	}
	
	div#profile div.fancy-button{
		font-size: 13px;
	}
	
	div#profile div.small{
		width: 100%;
		height: 30px;
	}
	
	div#profile div.item.bday,
	div#profile div.item.role,
	div#profile div.item.email,
	div#profile div.item.edit{
		display: flex;
		flex-direction: column;
		height: 45px;
		white-space: nowrap;
	}
	
	div#profile div.item.email,
	div#profile div.item.edit{
		width: 100%;
	}
	
	div#profile div.item.edit{
		order: 4;
		margin-top: 10px;
		text-align: center;
	}
	
	div#profile h3{
		font-size: 24px;
	}
	
	div#profile h4{
		font-size: 18px;
	}
	
	div#profile pre{
	}
	
	/* ########## TABLET REIMBURSEMENTS ##########*/
	
	div.employee, div.reimbursement{
		padding: 25px;
		margin: 0 50px;
		margin-bottom: 65px;
		min-width: 275px;
		max-width: 275px;
		font-size: 18px;
	}
}

/*Desktop styles*/
@media only screen and (min-width:961px) {
	
}

/*------------------------------------------------------SECTIONS------------------------------------------------------*/
.section {
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
}

#profile{
	width: 75%;
	margin: auto;
}

.content {
	width: 50%;
	text-align: center;
}

/*------------------------------------------------------CONTENT------------------------------------------------------*/

/*################################################# Profile styles #################################################*/

img {
	width: 235px;
	height: auto;
	border-radius: 50%;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

#profile .fancy-button{
	font-size: 13px;
	color: #04151F;
}

#profile .slide{
	background: #04151F;
	color: #e6ebe0;
}

#profile .button{
	border-color: #04151F;
}

#profile .fancy-button:hover a {
	color: #e6ebe0;
}

#profile .content.main{
	display: flex;
	align-items: center;
	text-align: left;
	flex-wrap: wrap;
}

#profile .item.role, 
#profile .item.bday,
#profile .item.email,
#profile .item.edit{
	width: 50%;
	height: 60px;
}


#profile .item.email,
#profile .item.edit{
	display: flex;
	align-items: center;
}

/*################################################# NAV styles #################################################*/

#nav {
	padding: 10px 65px;
	font-size: 30px;
	height: 75px;
	background-color: #04151F;
	color: #e6ebe0;
	-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	z-index: 999999;
}

.left{
	/*aligns next item right and this item left*/
	flex-grow: 1;
}

#nav .right{
	font-size: 24px;
}

#nav .fancy-button{
	margin-left: 10px;
}

#nav .slide{
	background: #e6ebe0;
	color: #04151F;
}

#nav .button{
  	border-color: #e6ebe0;
}

#nav .fancy-button:hover a {
  color: #04151F;
}

/*################################################# Separator styles #################################################*/

hr{
	width: 100%;
}

#separator {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	height: 120px;
	width: 100%;
	font-size: 16px;
}

#separator li{
	display: inline;
}

pre {
	font-size: 16px;
	font-family: 'Libre Baskerville';
}

#menu {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Libre Baskerville';
	font-size: 15px;
}

#separator hr{
	margin-top: 18px;
}

#separator .fancy-button{
  	font-size: 12px;
	background: #e6ebe0;
}

#menu a {
  	font-size: 14px;
}

#separator .slide{
	background: #e6ebe0;
	color: #04151F;
}

#separator .button{
  	border-color: #e6ebe0;
}

#separator .fancy-button:hover a {
  color: #04151F;
}

/*################################################# Reimbursement styles #################################################*/

#reimbursements{
	display: flex;
	padding-top: 65px;
	height: 100%;
	max-width: 100%;
	overflow: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.employee, .reimbursement{
	flex-grow: 1;
	padding: 25px;
	margin: 0 50px;
	margin-bottom: 65px;
	background-color: #04151F;
	color: #e6ebe0;
	min-width: 350px;
	max-width: 350px;
	font-size: 18px;
	text-align: left;
	border-radius: 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

#new-rmb{
	display: flex;
	flex-direction: column;
	min-height: 370px;
	margin-right: 75px;
}

.employee h4, .reimbursement h4, #new-rmb h4{
	text-align: center;
}

.reimbursement em, #new-rmb em{
	font-size: 16px;
}

.reimbursement p, #new-rmb input[type=text]{
	font-size: 12px;
	margin: 20px 0;
}

.reimbursement hr, .employee hr{
	margin: 25px 0;
	width: 100%;
	height: 5px;
}

#new-rmb .fancy-button{
  	font-size: 24px;
}

#new-rmb .slide, .reimbursement .slide{
	background: #e6ebe0;
	color: #04151F;
}

#new-rmb .fancy-button:hover a, .reimbursement .fancy-button:hover a {
  color: #04151F;
}

#submit-rmb{
	margin-top: 10px;
}

.reimbursement .fancy-button{
	margin-top: 15px;
	font-size: 14px;
}

/*################################################# Button styles #################################################*/

.button {
  display: inline-flex;
  height: 35px;
  border: 2px solid;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  border-radius: 5px;
}

.xs{
	width: 90px;
	height: 25px;
}

.small{
	width: 135px;
	height: 40px;
}

.medium{
	width: 270px;
}

.fit{
	width: 100%;
}

a {
  text-decoration: none;
  letter-spacing: 1px;
}

.fancy-button{
	position: relative;
  	overflow: hidden;
  	cursor: pointer;
  	
}	
.fancy-button a{
	position: relative;
	transition: all .5s ease;
}

.slide {
	width: 0%;
	height: 0%;
	opacity: 0;
	line-height: 40px;
	border-radius: 50%;
	position: absolute;
	transition: all .5s ease;
	top: 20px;
	left: 70px;
}

.fancy-button:hover .slide {
	display: flex;
	width: 220%;
	height: 550%;
	opacity: 1;
	top: -70px;
	left: -70px;
	align-items: center;
	justify-content: center;
}

/*################################################# Util styles #################################################*/

.center-flex{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right-flex{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	text-align: right;
}