@charset "ISO-8859-1";

body{
	background-color: white;
	color: black;
}

ul{
	list-style: none;
	margin-left:0;
	padding-left:0;
}

li{
	display: inline;
	padding-right: 1em;
}

li:after{
	content: "|";
	padding-left: 1em;
}

li:last-child:after{
	content: " " !important;
}

