<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link href="static/styles/Login.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
</head>
<body>
	<div class="page">
		<div class="section login">
			<div class="sub">
				<h1>NAVI System Login</h1>
				<hr>
				<p>Username</p>
				<input type="email" id="user" maxlength="30"/>
				<p>Password</p>
				<input type="password" id="pass" maxlength="60"/> 
				<input type="button"
					id="btn-login" value="Sign in"/>
			</div>
		</div>
	</div>
	<script src="static/scripts/Login.js"></script>
</body>
</html>