<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link href="static/styles/Login.css" rel="stylesheet"/>
</head>
<body>
	<div class="page">
		<div class="section login">
			<h1>NAVI System Login</h1>
			<p>Username</p>
			<input type="text" id="user"/>
			<p>Password</p>
			<input type="password" id="pass"/> 
			<input type="button" id="btn-login"
				value="Sign in" />
		</div>
		<div class="section register">
			<h1>Don't have an account?</h1>
			<input type="button" id="btn-login" value="Create account" />
			<ul>
				<li>@mquintero</li>
				<li>Terms of Use</li>
				<li>Privacy Policy</li>
			</ul>
		</div>
	</div>
	<script src="static/scripts/Login.js"></script>
</body>
</html>