<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Home Page</title>
</head>
<body>
<div class="page">
		<div class="section" id="nav">
			<!-- welcome message & sign out button shown when user logs in -->
		</div>
		<div class="section" id="profile">
			<!--  profile page shown when user logs in -->
		</div>
		<div class="section" id="reimbursements">
			<!-- reimbursement info shown when user logs in -->
		</div>
	</div>
	<script src="static/scripts/Profile.js"></script>
	<script src="static/scripts/Reimbursement.js"></script>
	<script src="static/scripts/Home.js"></script>
</body>
</html>