<!DOCTYPE html>
<html lang="en">

<head>
<title>Employee Reimbursement System</title>
<meta name="author" content="Keith Wheeler">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	crossorigin="anonymous">
</head>

<body>
	<div class="jumbotron row">
		<div class="col-sm-2">
			<img
				src="https://ers.psu.edu/sites/ers/files/styles/400x200/public/psu-employees-clapping.jpg?itok=UqDN4UKj"
				width=140 height="140">
		</div>
		<div class="col-sm-6">
			<h1>Employee Reimbursement System</h1>
		</div>
		<div class="col">
			<ul class="nav row">
				<li class="nav-item"><a class="nav-link"
					href="http://localhost:8080/ers/">Logout</a></li>
				<li class="nav-item"><a class="nav-link"
					href="http://localhost:8080/ers/employeehome">Employee</a></li>
				<li class="nav-item"><a class="nav-link"
					href="http://localhost:8080/ers/profile">Profile</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-2">
				<h1>Employee Information</h1>
				<div id="setLogin">
					<table class="table" id="emTable">
						<thead>
							<tr>
								<th scope="col">Id</th>
								<th scope="col">First Name</th>
								<th scope="col">Last Name</th>
								<th scope="col">Email</th>
								<th scope="col">Phone</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div id="updateInfo" class="col-sm-5 offset-3">
		<div class="form-group">
			<input type="number" class="form-control" placeholder="Employee Id"
				id="id" hidden=true>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="First Name"
				id="firstname">
		</div>

		<div class="form-group">
			<input type="text" class="form-control" placeholder="Last Name"
				id="lastname">
		</div>

		<div class="form-group">
			<input type="text" class="form-control" placeholder="Email"
				id="email">
		</div>

		<div class="form-group">
			<input type="text" class="form-control" placeholder="Phone #"
				id="phone">
		</div>

		<div class="form-group">
			<input type="password" class="form-control" placeholder="Password"
				id="password">
		</div>

		<div id="managerCheck" hidden=true>
			<p>Are you a Manager?</p>
			<div class="form-check">
				<label class="form-check-label" for="isManager"> <input
					type="checkbox" class="form-check-input" id="isManager" name="isManager"
					value="isManagerTrue">True
				</label>
			</div>
			<br>
		</div>

		<div class="form-group">
			<button id="update-btn" class="btn-primary">Update</button>
		</div>
	</div>
	<script src="static/Scripts/profile.js" type="module"></script>
</body>

</html>