<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link href="static/styles/Login.css" rel="stylesheet"/>
</head>
<body>	
	<div class="page">
		<div class="section Register">
			<h1>Welcome to Expense Reimbursement System Register Page</h1>
			<p>FirstName</p>
			<input type="text" id="firstname"/>
			<p>LastName</p>
			<input type="text" id="lastname"/>
			<p>Title</p>
			<input type="text" id="title"/>
			<p>UserName</p>
			<input type="text" id="user"/>
			<p>Password</p>
			<input type="password" id="pass"/>
			<p>Email</p>
			<input type="text" id="email"/> 
			<input type="button" id="btn-register" value="Create account" />
		</div>
		<div class="section register">
			<h2>Once Signed Up please log back in</h2>x`
			<!-- <input type="button" id="btn-login"/> -->
			<input type="button" id="btn-login" value="Sign in" />
			<ul>
				<li>Terms of Use</li>
				<li>Privacy Policy</li>
			</ul>
		</div>
	</div>
	<script src="static/scripts/Login.js"></script>
</body>
</html>