<!DOCTYPE html>
<html lang="en">

<head>
<title>Employee Reimbursement System</title>
<meta name="author" content="Keith Wheeler">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-2">
				<div class="jumbotron">
					<h1>Register User</h1>
					<div id="setLogin">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="First Name"
									name="firstname">
							</div>

							<div class="form-group">
								<input type="text" class="form-control" placeholder="Last Name"
									name="lastname">
							</div>

							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email"
									name="email">
							</div>

							<div class="form-group">
								<input type="text" class="form-control" placeholder="Phone #"
									name="phone">
							</div>

							<div class="form-group">
								<input type="password" class="form-control"
									placeholder="Password" name="password">
							</div>

							<p>Are you a Manager?</p>
							<div class="form-check">
								<label class="form-check-label" for="radio1"> <input
									type="radio" class="form-check-input" id="true"
									name="optradio" value="isManagerTrue" checked>True
								</label>
							</div>
							<div class="form-check">
								<label class="form-check-label" for="radio2"> <input
									type="radio" class="form-check-input" id="false"
									name="optradio" value="isManagerFalse">False
								</label>
							</div><br>

							<div class="form-group">
								<button id="add-btn" class="btn-primary">Add</button>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../script/register.js?43789" type="module"></script>
</body>

</html>