        
html{
    background-color: #073629;
}

#boxes{
    content: "";
    display: table;
    clear: both;
}
div{
    position:relative;
    height:20px; 
    width:100vw;
    margin; 15px 15px 15px 15px;
    padding:60px 30px 60px 30px;
    text-align: center;
    color:antiquewhite; 
    font-size: 28px;
    font-family: sans-serif;
}

#column1{ 
    background-color:#1F8268; 
} 

#column2{ 
    background-color:darkslategray;
} 

#column3{ 
    background-color:cadetblue; 
} 

