<!DOCTYPE html>
<html lang="en">

<head>
	<title>Expense Reimbursement System</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
 	<!-- <link rel="stylesheet" type="text/css" href="../styles/ERSLandingPage.css"> -->
	
</head>
<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">     
	      <a class="navbar-brand" href="">Expense Reimbursement System </a>           
	    </div>      
	      <ul class="nav navbar-nav navbar-right">
	           <!-- <li><a id="btn_logout" >Logout </a></li> -->
	           <button class="btn btn-primary" id="logout">logout</button>
	      </ul>
	      
	      
	  </div>
     </nav>
	  <br>
	  <br>
	  <br>

 <div class="container">
<div class="container">
		<div class="row">
			<div class="col-md-8 offset-2">
				<h3>Employee Information</h3>
				
			</div>
		</div>
	</div>

	<div id="updateInfo" class="col-sm-5 offset-3">
		<div class="form-group">
			<input type="number" class="form-control" placeholder="Employee Id"
				id="id" hidden=true required readonly>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="First Name"
				id="firstname">
		</div>

		<div class="form-group">
			<input type="text" class="form-control" placeholder="Last Name"
				id="lastname">
		</div>

		<div class="form-group">
			<input type="text" class="form-control" placeholder="Email"
				id="email">
		</div>

		<div class="form-group">
			<input type="text" class="form-control" placeholder="User Name"
				id="username" readonly>
		</div>

		<div class="form-group">
			<input type="password" class="form-control" placeholder="Password"
				id="password">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Title"
				id="title">
		</div>
		
		<div class="form-group">
			<button id="btn-update-profile" class="btn-primary">Update</button>
		</div>
	</div>
</div>
	
	
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>	
	<script
  		src="https://code.jquery.com/jquery-3.4.1.min.js"
  		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  		crossorigin="anonymous">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="static/scripts/profile.js"></script>
</body>

</html>